<div class="container">
    <div class="row">
        <h3>Personal Details</h3>
        <form>
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" placeholder="Enter Full name">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" placeholder="Enter Email">
            </div>
            <div class="mb-3">
                <label class="form-label">Enrollment</label>
                <input type="text" placeholder="Enter Enrollment number">
            </div>
            <div class="mb-3">
                <label class="form-label">Department</label>
                <input type="text" placeholder="Enter Department name">
            </div>
            <div class="mb-3">
                <label class="form-label">Mobile No.</label>
                <input type="number" placeholder="Enter Mobile number">
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="abc">
        <h3>Project Details</h3>
        <form>
            <div class="mb-3">
                <label class="form-label">Title Name</label>
                <input type="text" placeholder="Enter Title name">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" placeholder="Enter Description">
            </div>
            <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input type="date">
            </div>
            <div class="mb-3">
                <label class="form-label">End Date</label>
                <input type="date">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>